<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Colchonet</title>

	</head>
	<body>
		<h1>Colchonet</h1>
		<p>
			Escolha uma das ações a seguir:
			<ul>
				<li><%= link_to "Cadastro", new_user_path %></li>
				<li><%= link_to "Visualizar quartos", rooms_path %></li>
			</ul>
		</p>
	</body>
</html>
